 td, th{
     border: 1px solid;
     padding: 4px;
 }

 tr:nth-child(2n+1) {
     background: #e3e3e3;
 }

 #pagination{
     margin-top: 10px;
 }

 #pagination a, #pagination strong {
     background: #e3e3e3;
     padding: 4px 7px;
     text-decoration: none;
     border: 1px solid #cac9c9;
     color: #292929;
     font-size: 13px;
 }

 #pagination strong, #pagination a:hover {
     font-weight: normal;
     background: #cac9c9;
 }

 .sort_asc:after{
     content: "^";
 }

 .sort_desc:after{
     content: "v";
 }

 label{
     display: inline;
     width: 120px;
 }